<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="01_layout.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<style>
body{
    margin: 0px;
}
.bg{
    background-image:url('../images/01.jpg');
    margin: 0px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
    
}
.gg{
    height:600px;
}

</style>
</head>
<body>
  
    <div class="navbar sticky-top d-flex flex-column flex-md-row align-items-center p-3 px-md-4  bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">영화추천시스템</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Home</a>
        <a class="p-2 text-dark" href="#">친구평점 보러가기</a>
        <a class="p-2 text-dark" href="#">Log in</a>
      </nav>
      
    </div>
    <Header class="bg" id="top">
        <h1 class="gg d-flex justify-content-center align-items-center text-white">영화추천</h1>
    </Header>
    <Footer>
        <span class="d-block p-2 bg-dark text-white">KOO</span>
        <a href="#top">TOP</a>
    </Footer>
   
    
        
    
    
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>